<section class="advertisement">
  <svg
    class="advertisement-vector-up"
    xmlns="http://www.w3.org/2000/svg"
    width="375"
    height="2"
    viewBox="0 0 375 2"
    fill="none"
  >
    <path d="M0 1H375" stroke="white" stroke-opacity="0.2" />
  </svg>
  <h2>
    <marquee behavior="" direction="" class="advertisement-run-sides"
      >Master
      <span class="advertisement-run-center">your photography</span> skills with
      us!</marquee
    >
  </h2>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="375"
    height="2"
    viewBox="0 0 375 2"
    fill="none"
  >
    <path d="M0 1H375" stroke="white" stroke-opacity="0.2" />
  </svg>
</section>
