<footer class="footer" id="contacts">
  <div class="footer-box container">
    <div class="footer-logo-box">
      <a class="footer-logo-link" href="index.html">
        <svg class="footer-logo" width="134" height="27">
          <use class="icon-svg-logo" href="./img/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <address class="footer-address">
        <ul class="footer-address-list">
          <li class="footer-address-list-item">
            <a class="footer-add-link" href="tel:+380665438912"
              >UK: +38 066 543 8912</a
            >
          </li>
          <li class="footer-address-list-item">
            <p class="footer-add-text">Ukraine, Kyiv</p>
          </li>
        </ul>
      </address>
    </div>
    <div class="footer-social-nav-box">
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a
            class="footer-so-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            >Instagram</a
          >
        </li>
        <li class="footer-social-item">
          <a
            class="footer-so-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            >Facebook</a
          >
        </li>
        <li class="footer-social-item">
          <a
            class="footer-so-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            >Youtube</a
          >
        </li>
      </ul>

      <nav class="footer-navigation">
        <ul class="footer-nav-list">
          <li class="footer-nav-list-item">
            <a class="" href="#about-us">About us</a>
          </li>
          <li class="footer-nav-list-item">
            <a class="" href="#our-courses">Our courses</a>
          </li>
          <li class="footer-nav-list-item">
            <a class="" href="#our-mentors">Our mentors</a>
          </li>
          <li class="footer-nav-list-item">
            <a class="" href="#reviews">Reviews</a>
          </li>
          <li class="footer-nav-list-item">
            <a class="" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer-form-box">
      <form class="footer-form" name="email">
        <label class="form-label">
          <input
            class="footer-form-input"
            name="email"
            type="email"
            placeholder="Enter your email"
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            required
            inputmode="email"
            minlength="4"
          />
        </label>

        <button class="footer-form-button" type="submit">Go</button>
      </form>
    </div>

    <div class="footer-paragraf-boxx my-container">
      <div class="footer-l-list">
        <p class="f-text-style">Privacy Policy</p>
        <p class="f-text-style">Public Offering Agreement</p>
      </div>

      <div class="footer-r-list">
        <p class="f-text-style">2023 Focus Frame</p>
        <p class="f-text-style">&copy; All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
