<header class="header">
  <div class="container header-container">
  <svg class="icon-logo-header" width="123" height="16">
    <use href="./img/sprite.svg#icon-logo"></use> 
  </svg>  
  
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./sign up.html" class="nav-link-header link"><svg class="header-camera-icon" width="16" height="16">
          <use href="./img/sprite.svg#icon-camera"></use>
        </svg></a>
      </li>  
      <li class="nav-item">
        <a href="./page-3.html" class="nav-link-header">Page 3</a>
<button class="btn-menu-open" data-menu-open>
  <svg class="icon-menu-open" width="32" height="22">
    <use href="./images/icons.svg#menu-hamburger"></use>
  </svg>
</button>

      </li>
    </ul>
  </nav>
  </div>
</header>
