<header class="header">
  <div class="container header-container">
  <svg class="Logo logo-header" width="123" height="16">
    <use href="./img/sprite.svg#icon-logo"></use> 
  </svg> 
  <button id="myButton" class="header-btn-camera" type="button" data-modal-open>
    <svg class="camera-icon" width="16" height="16">
      <use href="./img/sprite.svg#icon-camera"></use>
    </svg>
  </button>
  
  
  <button id="myButton" class="header-btn-hamburger" type="button"
   data-modal-open>
  <svg class="hamburger-icon" width="32" height="22">
    <use href="./img/sprite.svg#menu-hamburger"></use>
  </svg>
  </button>
  
     <!-- Desctop -->
  <nav class="nav nav-header">
    <ul class="nav-list">
      <li class="nav-item-header"><a href="" class="nav-link-header">About us</a></li>
      <li class="nav-item-header"><a href="" class="nav-link-header">Our courses</a></li>
      <li class="nav-item-header"><a href="" class="nav-link-header">Our mentors</a></li>
      <li class="nav-item-header"><a href="" class="nav-link-header">Reviews</a></li>
      <li class="nav-item-header"><a href="" class="nav-link-header">contacts</a></li>        
  </ul>
  </nav>
  <button id="myButton" class="header-btn-sign" type="button">Sign up
  </button>  

      
  </div>
</header>
