
<header class="header section">
  <div class="container header-container ">
    
    <div class="header-nav-container">
   
  <svg class="Logo logo-header" width="134" height="27">
    <use href="./img/sprite.svg#icon-logo"></use> 
  </svg> 
  <a class="header-btn-camera link" href="" ><svg class="camera-icon-header" width="16" height="16">
    <use href="./img/sprite.svg#icon-camera"></use>
  </svg></a>  


<button id="myButton" class="header-btn-hamburger" type="button" data-modal-open>
  <svg class="hamburger-icon" width="32" height="32">
    <use href="./img/sprite.svg#icon-burger-menu"></use>
  </svg>
</button> 
     
  <nav class="nav nav-header">
    <ul class="nav-list">
      <li class="nav-item-header"><a href="" class="nav-link-header">About us</a></li>
      <li class="nav-item-header"><a href="" class="nav-link-header">Our courses</a></li>
      <li class="nav-item-header"><a href="" class="nav-link-header">Our mentors</a></li>
      <li class="nav-item-header"><a href="" class="nav-link-header">Reviews</a></li>
      <li class="nav-item-header"><a href="" class="nav-link-header">contacts</a></li>        
  </ul>
  </nav>  
</div>
  <a href="" class="header-sign-link link">Sign up
</a>
  </div>
 
</header>
