<section class="container">
  <div class="hero-container">
    <div class="hero-title-container">
      <h1 class="hero-title">
        Discover the magic of <span class="span-title">photography</span> in our
        school
      </h1>
      <p class="hero-text">
        Our photography school offers an unforgettable journey, where you can
        learn the basics of composition, master technical skills, translate your
        unique ideas.
      </p>
    </div>
    <div class="hero-student-container">
      <div class="hero-student-picture">
        <img class="hero-user-img" srcset="./img/hero/people@1x.png 1x, ./img/hero/people@1x.png 2x"
          src="./img/hero/people@1x.png" alt="Photo our students" width="44" height="44" />
        <div class="hero-student-icon">
          <p class="hero-subtitle">Our happy students</p>
          <a class="" href="" target="_blank">
            <svg class="hero-icon-arrow" width="18" height="8.66">
              <use href="./img/sprite.svg#icon-arrow-stroke"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="hero-reviews-container">
        <div class="hero-icon-container">
          <svg class="hero-icon-review" width="20" height="20">
            <use href="./img/sprite.svg#icon-star-review"></use>
          </svg>
        </div>
        <div class="hero-reviews-content">
          <p class="hero-reviews-text">Reviews</p>
          <p class="hero-reviews-desc">+1500</p>
        </div>
      </div>
    </div>
    <div class="hero-picture-container">
      <picture class="hero-picture">
        <!-- Desktop screen -->
        <source media="(min-width: 1280px)" srcset="
            ./img/hero/hero-desktop@1x.png 1x,
            ./img/hero/hero-desktop@1x.png 2x
          " type="image/png" />
        <!-- Tablet screen -->
        <source media="(min-width: 768px)" srcset="
            ./img/hero/hero-tablet@1x.png 1x,
            ./img/hero/hero-tablet@1x.png 2x
          " type="image/png" />
        <!-- Mobile screen -->
        <source media="(min-width: 335px)" srcset="
            ./img/hero/hero-mobile@1x.png 1x,
            ./img/hero/hero-mobile@1x.png 2x
          " type="image/png" />
        <img class="hero-img" src="./images/gallery/img-1_sm.png" alt="Men with the camera" width="259" height="314" />
      </picture>
    </div>
  </div>
</section>