<section class="section">
        <div class="container box-sizing">
          <div class="section-titel">
            <h2 class="our">
              Our
              <span class="courses">Courses</span>
            </h2>
            <p class="text-course">
              At our photography school, we offer a variety of courses that
              cover all aspects of this fascinating art. Regardless of your
              experience or skill level, we have courses to suit your needs and
              goals.
            </p>
          </div>
          <div class="window-container">
            <div class="window-courses">
              <ol class="list">
                <div class="div-li">
                  <li>
                    <div class="wraper">
                      <h3 class="number">01</h3>
                    <a href="#sign-up" class="social-link-li-a">
                      <svg
                        class="svg-section-people-icon"
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M5 15L15 5"
                          stroke="#777777"
                          stroke-width="1.3"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M8.33337 5H15V11.6667"
                          stroke="#777777"
                          stroke-width="1.3"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </a>
                    </div>
                    <h3 class="titel">Basics of photography</h3>
                    <p class="titel-text">
                      During this course, you will be able to familiarize yourself
                      with different types of cameras, learn the basics of
                      composition.
                    </p>
                  </li>
                </div>
              </ol>
            </div>
            <div class="window-courses">
              <ol class="list">
                <div class="div-li">
                  <li>
                    <div class="wraper">
                      <h3 class="number">02</h3>
                    <a href="#sign-up" class="social-link-li-a">
                      <svg
                        class="svg-section-people-icon"
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M5 15L15 5"
                          stroke="#777777"
                          stroke-width="1.3"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M8.33337 5H15V11.6667"
                          stroke="#777777"
                          stroke-width="1.3"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </a>
                    </div>
                  <h3 class="titel">Landscape photography</h3>
                  <p class="titel-text">
                    In this course, you'll learn how to choose the right angles,
                    frame landscapes, and create depth and perspective in your
                    images.
                  </p>
                </li>
              </ol>
            </div>
            <div class="window-courses">
              <ol class="list">
                <div class="div-li">
                  <li>
                    <div class="wraper">
                      <h3 class="number">03</h3>
                    <a href="#sign-up" class="social-link-li-a">
                      <svg
                        class="svg-section-people-icon"
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M5 15L15 5"
                          stroke="#777777"
                          stroke-width="1.3"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M8.33337 5H15V11.6667"
                          stroke="#777777"
                          stroke-width="1.3"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </a>
                    </div>
                  <h3 class="titel">Portrait photography</h3>
                  <p class="titel-text">
                    During this course, you will learn to choose the right
                    lighting, reproduce the mood and expressions on the faces of
                    the models.
                  </p>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </section>
