<!-- Our Mentors -->
<section class="section-mentors section" id="our-mentors">
    <div class="container">
        <h2 class="title-mentor section-header">Our <span class="different-color">Mentors</span></h2>
            <ul class="mentors-list">
                <li class="mentors-item">
                    <img class="mentor-img"
                    srcset="./img/our-mentors/emilia@1x.webp 1x, ./img/our-mentors/emilia@2x.webp 2x"
                    src="./img/our-mentors/emilia@1x.jpg"
                    alt="Mentor 1"
                    loading="lazy"
                    width="180"
                    height="180">
                    <div class="name-experience">
                        <h3 class="subtitel-mentor">Emilia Smith</h3>
                        <p class="mentors-text">1.5 years of experience</p>
                    </div>
                </li>
                <li class="mentors-item">
                    <img class="mentor-img"
                    srcset="./img/our-mentors/alex@1x.webp 1x, ./img/our-mentors/alex@2x.webp 2x"
                    src="./img/our-mentors/alex@1x.jpg"
                    alt="Mentor 2"
                    loading="lazy"
                    width="180"
                    height="180">
                    <div class="name-experience">
                        <h3 class="subtitel-mentor">Alex Lebedev</h3>
                        <p class="mentors-text">3.5 years of experience</p>
                    </div>
                </li>
                <li class="mentors-item">
                    <img class="mentor-img"
                    srcset="./img/our-mentors/mia@1x.webp 1x, ./img/our-mentors/mia@2x.webp 2x"
                    src="./img/our-mentors/mia@1x.jpg"
                    alt="Mentor 3"
                    loading="lazy"
                    width="180"
                    height="180">
                    <div class="name-experience">
                        <h3 class="subtitel-mentor">Mia Dubrovska</h3>
                        <p class="mentors-text">2.0 years of experience</p>
                    </div>
                </li>
                <li class="mentors-item">
                    <img class="mentor-img"
                    srcset="./img/our-mentors/eliot@1x.webp 1x, ./img/our-mentors/eliot@2x.webp 2x"
                    src="./img/our-mentors/eliot@1x.jpg"
                    alt="Mentor 4"
                    loading="lazy"
                    width="180"
                    height="180">
                    <div class="name-experience">
                        <h3 class="subtitel-mentor">Eliot Kovalev</h3>
                        <p class="mentors-text">4.0 years of experience</p>
                    </div>
                </li>
            </ul>
    </div>
</section>
