<section>
  <div class="review-container">
    <h2 class="review-title">Reviews</h2>
    <div class="review-card-container">
      <div class="review-student-info">
        <img
          class="review-student-img"
          src="./img/reviews/abraham@2x.jpg"
          alt="Abraham beauty face."
          width="56"
          height="56"
        />
        <div class="container-desc">
          <h3 class="review-student-name">Abraham Baker</h3>
          <p class="review-student-desc">Student</p>
        </div>
      </div>
      <ul class="review-rate-stars-list">
        <li class="review-rate-stars-list-item">
          <svg class="review-rate-icon" width="16" height="16">
            <use href="../img/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="review-rate-stars-list-item">
          <svg class="review-rate-icon" width="16" height="16">
            <use href="../img/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="review-rate-stars-list-item">
          <svg class="review-rate-icon" width="16" height="16">
            <use href="../img/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="review-rate-stars-list-item">
          <svg class="review-rate-icon" width="16" height="16">
            <use href="../img/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="review-rate-stars-list-item">
          <svg
            class="review-rate-icon review-dark-rate-icon"
            width="16"
            height="16"
          >
            <use href="../img/sprite.svg#icon-star"></use>
          </svg>
        </li>
      </ul>
      <p class="review-main-opinion">
        I am very pleased that I decided to enroll in photography school. The
        teachers turned out to be very talented and experienced professionals
        who share their knowledge and are dedicated to their work. I was able to
        expand my skills and discover my own style.
      </p>
    </div>
  </div>
</section>
