<section class="section" id="reviews">
  <div class="container">
    <h2 class="review-title section-header">Reviews</h2>
    <ul class="review-card-container-list">
      <li
        class="review-card-container-list-item review-card-container-list-abraham"
      >
        <div class="review-card-container">
          <div class="review-student-info">
            <img
              class="review-student-img"
              srcset="
                ./img/reviews/abraham@1x.jpg 1x,
                ./img/reviews/abraham@2x.jpg 2x
              "
              src="./img/reviews/abraham@1x.jpg"
              alt="Abraham beauty face."
              width="56"
              height="56"
              loading="lazy"
            />
            <div class="container-desc">
              <h3 class="review-student-name">Abraham Baker</h3>
              <p class="review-student-desc">Student</p>
            </div>
          </div>
          <ul class="review-rate-stars-list">
            <li class="review-rate-stars-list-item">
              <svg class="review-rate-icon" width="16" height="16">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="review-rate-stars-list-item">
              <svg class="review-rate-icon" width="16" height="16">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="review-rate-stars-list-item">
              <svg class="review-rate-icon" width="16" height="16">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="review-rate-stars-list-item">
              <svg class="review-rate-icon" width="16" height="16">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="review-rate-stars-list-item">
              <svg
                class="review-rate-icon review-dark-rate-icon"
                width="16"
                height="16"
              >
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <p class="review-main-opinion">
            I am very pleased that I decided to enroll in photography school.
            The teachers turned out to be very talented and experienced
            professionals who share their knowledge and are dedicated to their
            work. I was able to expand my skills and discover my own style.
          </p>
        </div>
      </li>
      <li
        class="review-card-container-list-item review-card-container-list-amanda"
      >
        <div class="review-card-container">
          <div class="review-student-info">
            <img
              class="review-student-img"
              srcset="
                ./img/reviews/amanda@1x.jpg 1x,
                ./img/reviews/amanda@2x.jpg 2x
              "
              src="./img/reviews/amanda@1x.jpg"
              alt="Amanda's beauty face."
              loading="lazy"
              width="56"
              height="56"
            />
            <div class="container-desc">
              <h3 class="review-student-name">Amanda Lowery</h3>
              <p class="review-student-desc">Student</p>
            </div>
          </div>
          <ul class="review-rate-stars-list review-rate-stars-list-1280">
            <li class="review-rate-stars-list-item">
              <svg class="review-rate-icon" width="16" height="16">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="review-rate-stars-list-item">
              <svg class="review-rate-icon" width="16" height="16">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="review-rate-stars-list-item">
              <svg class="review-rate-icon" width="16" height="16">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="review-rate-stars-list-item">
              <svg class="review-rate-icon" width="16" height="16">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="review-rate-stars-list-item">
              <svg
                class="review-rate-icon review-dark-rate-icon"
                width="16"
                height="16"
              >
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <p class="review-main-opinion">
            The courses at the photography school exceeded all my expectations.
            I gained not only technical knowledge, but also inspiration and
            motivation to reach new heights in my creativity. Hands-on classes
            and workshops helped me understand different styles of photography.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
