<section class="">
  <div class="container1">
    <h1 class="review-title">Reviews</h1>
    <ul class="review-list">
      <li class="review-list-item">
        <div class="review-container">
          <div class="review-card">
            <div class="picture">
              <img
                class="review-img"
                src="./img/reviews/abraham@1x.jpg"
                alt="Portrait of a graduate."
                width="56"
              />
            </div>
            <div class="review-card-desc">
              <div class="review-name-desc-only">
                <h3 class="review-card-subtitle">Abraham Baker</h3>
                <p class="review-card-text">Student</p>
              </div>
              <ul class="review-star-list">
                <li>
                  <svg class="review-icon" width="16" height="16">
                    <use href="./img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg class="review-icon" width="16" height="16">
                    <use href="./img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg class="review-icon" width="16" height="16">
                    <use href="./img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg class="review-icon" width="16" height="16">
                    <use href="./img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg class="review-icon dark-icon" width="16" height="16">
                    <use href="./img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
          <p class="review-main-text">
            I am very pleased that I decided to enroll in photography school.
            The teachers turned out to be very talented and experienced
            professionals who share their knowledge and are dedicated to their
            work. I was able to expand my skills and discover my own style.
          </p>
        </div>
      </li>
      <li class="review-list-item review-list-tablet-item">
        <div class="review-container">
          <div class="review-card">
            <div class="picture">
              <img
                class="review-img"
                src="./img/reviews/abraham@1x.jpg"
                alt="Portrait of a graduate."
                width="56"
              />
            </div>
            <div class="review-card-desc">
              <div class="review-name-desc-only">
                <h3 class="review-card-subtitle">Abraham Baker</h3>
                <p class="review-card-text">Student</p>
              </div>
              <ul class="review-star-list">
                <li>
                  <svg class="review-icon" width="16" height="16">
                    <use href="./img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg class="review-icon" width="16" height="16">
                    <use href="./img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg class="review-icon" width="16" height="16">
                    <use href="./img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg class="review-icon" width="16" height="16">
                    <use href="./img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg class="review-icon dark-icon" width="16" height="16">
                    <use href="./img/sprite.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
          <p class="review-main-text">
            I am very pleased that I decided to enroll in photography school.
            The teachers turned out to be very talented and experienced
            professionals who share their knowledge and are dedicated to their
            work. I was able to expand my skills and discover my own style.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
