.list {
    list-style: none;
}

.about-us {
    background: var(--black, #121212);
}

.container {
    margin: 80px 20px;
}

.about-us-title {
    color: #fff;
    font-family: DM Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.07em;
    margin-bottom: 50px;
}

.about-us-title2 {
    color: #bea69e;
    font-family: DM Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.07em;
}

.about-us-image {
    min-width: 335px;
    height: 209px;
    border-radius: 1000px;
    background: url(<path-to-image>),
        lightgray -34258429908268924px -804566253738116900px / 866193247329631900% 330336396212698600% no-repeat;
    margin: 40px 0;
}

.about-us-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.about-us-text,
.about_us_text1 {
    width: 335px;
    color: var(--white, #fff);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: 0.018em;
}

@media screen and (min-width: 768px) {
    .container {
        min-width: 630px;
        margin: 100px 32px;
    }

    .about-us-title {
        font-size: 48px;
        line-height: 1.12px;
        letter-spacing: 0.12em;
    }

    .about-us-title2 {
        font-size: 48px;
        line-height: 1.12px;
        letter-spacing: 0.12em;
    }

    .about-us-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 40;
    }

    .about-us-image {
        display: inline-block;
        min-width: 704px;
        height: 340px;
        border-radius: 1000px;
        background: url(<path-to-image>),
            lightgray -34258429908268924px -804566253738116900px / 866193247329631900% 330336396212698600% no-repeat;
        margin: 50px 0;
    }

    .about-us-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 40px;
    }

    .about-us-item {
        flex-basis: calc((100% - 40px) / 2);
    }

    .about-us-text {
        width: 280px;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
    }

    .about_us_text1 {
        width: 280px;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        min-width: 1080px;
        margin: 150px 100px;
    }

    .about-us-title {
        font-size: 48px;
        font-weight: 500;
        line-height: 1.12px;
        letter-spacing: -0.12em;
    }

    .about-us-title2 {
        font-size: 48px;
        font-weight: 500;
        line-height: 1.12px;
        letter-spacing: -0.12em;
    }

    .about-us-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 40;
    }

    .about-us-image {
        display: inline-block;
        min-width: 340px;
        height: 488px;
        border-radius: 1000px;
        background: url(<path-to-image>),
            lightgray -34258429908268924px -804566253738116900px / 866193247329631900% 330336396212698600% no-repeat;
        margin: 50px 0;
    }

    .about-us-list {
        margin-top: 40px;
        margin-left: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .about-us-item {
        margin-top: 40px;
        flex-basis: calc((100% - 20px) / 2);
    }

    .about-us-text {
        width: 268px;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
    }

    .about_us_text1 {
        width: 264px;
        height: 215px;
    }
}

/* 1440 */
@media screen and (min-width: 1440px) {
    .container {
        min-width: 1080px;
        margin: 150px 100px;
    }

    .about-us-title {
        min-width: 196px;
        font-size: 48px;
        font-weight: 500;
        line-height: 1.12px;
        letter-spacing: -0.12em;
    }

    .about-us-title2 {
        font-size: 48px;
        font-weight: 500;
        line-height: 1.12px;
        letter-spacing: -0.12em;
    }

 .about-us-flex {
        display: flex;
        flex-wrap: wrap;
        /* gap: 40; */
    }

    .about-us-image {
        display: inline-block;
        height: 544px;
        border-radius: 1000px;
        background: url(<path-to-image>),
            lightgray -34258429908268924px -804566253738116900px / 866193247329631900% 330336396212698600% no-repeat;
        margin: 50px 0;
    }

    .about-us-list {
        margin-top: 62px;
        gap: 40px;
        display: flex;
        flex-wrap: wra
    }

    .about-us-text {
        width: 330px;
    }

    .about_us_text1 {
        width: 276px;
    }
}