.my-container {
    max-width: 335px;

    margin-right: auto;
    margin-left: auto;
}

.footer-logo-box {
    margin-top: 40px;

}

.footer {
    background-image: url(../img/);
}

.footer-address {
    margin-top: 20px;
}

.footer-social-nav-box {
    padding-top: 40px;
    display: flex;
    gap: 40px;
}

.footer-social-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
}

.footer-nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
}

.footer-nav-list-item {
    font-size: 14px;
}

.footer-so-link {
    font-size: 14px;
}

.footer-address-list-item {
    font-style: normal;
    color: var(--white);
    font-size: 14px;
    line-height: 1.28;
    text-transform: uppercase;
}

.icon-svg-logo {
    fill: var(--white);

}


.footer-logo-link {
    display: inline-block;
    width: 123px;
    height: 16px;
}

.footer-so-link {
    text-transform: uppercase;
}

.footer-nav-list-item {
    text-transform: uppercase;
}

.footer-address-list {
    display: inline-flex;
    height: 46px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

/* form */
.footer-form-box {
    padding-top: 75px;
}

.footer-form-box {
    margin-bottom: 40px;
}

.footer-form {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    gap: 8px;
}

.form-label {}

.footer-form-input {
    width: 267px;
    height: 60px;

    border-radius: 12px;
    background: #FFF;
    border: none;
}

.footer-form-button {
    width: 60px;
    height: 60px;

    border-radius: 12px;
    background: #1D1D1D;
    border: none;


    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 24px */
}



/* paragraf */

.footer-paragraf-boxx {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;

}

.footer-l-list {
    display: flex;
    flex-direction: column;
}

.footer-r-list {
    display: flex;
    flex-direction: column;
}

.f-text-style {
    font-size: 12px;
}