.hidden {
    display: none;
}



.footer-logo-box {
    margin-top: 40px;
    margin-bottom: 20px;
}

.footer-address-list-item {
    font-style: normal;
    color: var(--white);
    font-size: 14px;
    line-height: 1.28;
    text-transform: uppercase;
}

.icon-svg-logo {
    fill: var(--white);

}


.footer-logo-link {
    display: inline-block;
    width: 123px;
    height: 16px;
}

.footer-so-link {
    text-transform: uppercase;
}