.header {
  padding: 20px 0;
  
}

.header-container {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
 
}
.logo-header {
  fill: #ffffff;
  width: 123px;
  height: 16px;
  text-align: left;
  display: flex;
  justify-content: space-between;
       
}
.camera-icon-header {
 display: flex;
 gap: 22px;
 stroke: rgba(190, 166, 158, 1);
}
.nav-header {
  display: none;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.nav-item-header {

}

.nav-link-header {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link-header:hover,
.nav-link-header:focus {
  color: #747bff;
}





.header-btn-hamburger {
display: flex;
align-items: center;
justify-content: start;
background-color: transparent;

} 

.hamburger-icon {
stroke: white;
cursor: pointer;
}


@media screen and (min-width: 375px) and (max-width: 767px) {
 
 .header-btn-sign {
  display: none;
 }
}

@media screen and (min-width: 768px) {
  .header {
width: 768px;
  }
.header-container {
width: 504px;
gap: 20px;

}
.camera-icon {
  display: none;
}
.hamburger-icon {
  width: 48px;
  height: 28px;
}

.header-btn-sign {
border-radius: 12px;
background: #FFF;
display: inline-flex;
padding: 16px 58px;
justify-content: center;
align-items: center;
color: #121212;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.56; 
text-transform: uppercase; 
width: 186px; 
height: 60px; 
position: relative;
display: flex;
 }
}

@media screen and (min-width: 1280px) {
.header {
width: 1280;
}
.header-container {
width: 822;

}
.header-btn-hamburger {
 display: none;
}
.header-btn-sign {
 width: 236px;

}
.nav-header {
  display: flex;
  align-items: center;
  gap: 97px;
}
.nav-item-header {
  gap: 40px;
}
}