.hero-section {
    padding: 40px 0px;
    border-radius: 30px;
    background: var(--gray);
}

@media screen and (min-width: 768px) {
    .hero-section {
        padding: 64px 0px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-section {
        padding: 80px 0px;
    }
}

.hero-title {
    max-width: 295px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: var(--white);
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    /* 110% */
    letter-spacing: -0.04em;
}

@media (min-width: 768px) {
    .hero-title {
        max-width: 517px;
        margin-left: 32px;
        font-size: 60px;
        line-height: 1.07;
        /* 106.667% */
    }
}

@media (min-width: 1280px) {
    .hero-title {
        max-width: 563px;
        margin-left: 50px;
        font-size: 64px;
        line-height: 1.06;
        /* 106.25% */
    }
}

.span-title {
    color: var(--brown);
    font-size: 40px;
    font-style: italic;
    line-height: 44px;
    letter-spacing: -0.04em;
}

@media (min-width: 768px) {
    .span-title {
        font-size: 60px;
    }
}

@media (min-width: 1280px) {
    .span-title {
        font-size: 64px;
    }
}

.hero-text {
    max-width: 295px;
    margin-left: 20px;
    margin-bottom: 40px;
    color: var(--white);
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

@media (min-width: 768px) {
    .hero-text {
        max-width: 418px;
        margin-left: 32px;
    }
}

@media (min-width: 1280px) {
    .hero-text {
        max-width: 418px;
        margin-left: 50px;
    }
}

.hero-subtitle {
    color: var(--white);
    line-height: 1.25;
    letter-spacing: -0.04em;
}

.hero-content-container {
    display: inline-flex;
    height: 84px;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-left: 20px;
}

.hero-student {
    display: flex;
    max-width: 107px;
    align-items: center;
    align-content: center;
    gap: 4px;
    flex-wrap: wrap;
}

.hero-user-image {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: 2px solid var(--gray);
    background: #1D1D1D;
}     

.hero-subtitle {
    max-width: 67px;
    color: var(--white);
    font-size: 14px;
    line-height: 1.28;
    /* 128.571% */
    letter-spacing: -0.04;
    margin-top: 4px;
}

.hero-reviews {
    display: flex;
    width: 104px;
    align-items: center;
    gap: 12px;
}

.hero-icon {
    fill: var(--white);
}

.card-img {
    width: 100%;
    height: 100%;
}

.hero-reviews {
    display: flex;

    max-width: 119px;
    align-items: center;
    gap: 12px;
}

.hero-icon-review {
    border-radius: 100px;
    background: var(--brown);
    width: 44px;
    height: 44px;
    flex-shrink: 0;
}

.hero-reviews-text {
    color: rgba(255, 255, 255, 0.5);
}

.hero-reviews-desc {
    max-width: 57px;
    color: var(--white);
    font-weight: 500;
    line-height: 1.12;
    /* 112.5% */
    letter-spacing: -0.04em;
}

.hero-picture {
    width: auto;
    height: auto;
    background: url(<path-to-image>), lightgray -6.448px -40.707px / 103.961% 128.178% no-repeat;
}