ol {
  padding: 0;
}
.our {
  color: #fff;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
}
.courses {
  color: #bea69e;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  gap: 58px;
}
@media screen and (min-width: 768px) {
  .our {
    font-size: 48px;
    line-height: 1.12;
  }
  .courses {
    font-size: 48px;
    line-height: 1.12;
  }
}
.text-course {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  max-width: 335px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .text-course {
    max-width: 381px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.02em;
    margin-bottom: 50px;
    text-align: left;
  }
  .titel {
    max-width: 265px;
  }
}
@media screen and (min-width: 1280px) {
  .text-course {
    max-width: 405px;
  }
}

.titel {
  color: #fff;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14em;
  padding-bottom: 164px;
}
.titel-text {
  color: rgba(255, 255, 255, 0.5);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  max-width: 279px;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .titel-text {
    font-size: 16px;
    text-align: left;
    width: 278px;
    margin-bottom: 32px;
    line-height: 1.25em;
  }
  .window-courses {
    width: 342px;
  }
}
@media screen and (min-width: 1280px) {
  .window-courses {
    width: 347px;
  }
}
.list {
  list-style: none;
  display: flex;
  display: inline-block;
}
.window-courses {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
}
@media screen and (min-width: 768px) {
  .window-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .window-container {
    flex-wrap: nowrap;
  }
}
.number {
  color: rgba(255, 255, 255, 0.4);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 1280px) {
  .number {
    padding-bottom: 46px;
  }
}
@media screen and (min-width: 768px) {
  .section-titel {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 58px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .section-titel {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.social-link-li-a {
  width: 32px;
  height: 32px;
  background-color: #1d1d1d;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-section-people-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-li {
  width: 32px;
  height: 32px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wraper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 28px;
}
.div-li {
  padding: 28px;
}
@media screen and (min-width: 768px) {
  .div-li {
    padding: 32px;
  }
}
.social-link-li-a:hover,
.social-link-li-a:focus {
  background-color: #bea69e;
}
.social-link-li-a:hover .path-first,
.social-link-li-a:hover .path-second {
  stroke: white;
}
@media screen and (max-width: 767px) {
  .window-courses {
    margin-top: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .window-container {
    row-gap: 20px;
  }
}
.container-courses {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 375px;
}
@media screen and (min-width: 768px) {
  .container-courses {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }
  .titel {
    padding-bottom: 180px;
  }
}
@media screen and (min-width: 1280px) {
  .container-courses {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1280px;
  }
}
@media screen and (min-width: 1440px) {
  .container-courses {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1440px;
  }
  .window-container {
    display: flex;
    width: 1240px;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }
  .window-courses {
    width: 400px;
  }
  .titel {
    padding-bottom: 200px;
  }
  .wraper {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 290px;
  }
}
