ol {
  padding: 0;
}
.body {
  background-color: #121212;
  font-family: 'DM Sans', sans-serif;
}
.container {
  max-width: 335px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    /* padding-left: 32px;
    padding-right: 32px; */
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
.our {
  color: #fff;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}
.courses {
  color: #bea69e;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  gap: 58px;
}
@media screen and (min-width: 768px) {
  .our {
    font-size: 48px;
    line-height: 1.12;
  }
  .courses {
    font-size: 48px;
    line-height: 1.12;
  }
}
.text {
  color: #fff;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  max-width: 335px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .text {
    max-width: 381px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.02em;
    margin-bottom: 50px;
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .text {
    max-width: 568px;
  }
}
.titel {
  color: #fff;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14em;
  max-width: 224px;
  padding-bottom: 164px;
}
.titel-text {
  color: rgba(255, 255, 255, 0.5);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  max-width: 279px;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .titel-text {
    text-align: left;
    width: 278px;
    margin-bottom: 32px;
  }
  .window {
    width: 342px;
  }
}
@media screen and (min-width: 1280px) {
  .window {
    width: 347px;
  }
}
.list {
  list-style: none;
  display: flex;
  display: inline-block;
}
.window {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .window-container {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .window-container {
    flex-wrap: nowrap;
  }
}
.number {
  color: rgba(255, 255, 255, 0.4);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  /* margin: 32px 0; */
}
@media screen and (min-width: 1280px) {
  .number {
    padding-bottom: 46px;
  }
}
@media screen and (min-width: 768px) {
  .section-titel {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 58px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .section-titel {
    gap: 410px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.social-link-li-a {
  /* width: 100%;
  height: 100%; */
  width: 32px;
  height: 32px;
  background-color: #1d1d1d;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-section-people-icon {
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-li {
  width: 32px;
  height: 32px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wraper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 28px;
  /* margin: 32px 0; */
}
.div-li {
  padding: 28px;
}
