.review-container {
    padding: 0 20px 80px;
}

div.container.adjust-container {}


@media only screen and (min-width: 768px) {
    div.container.adjust-container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (min-width: 1280px) {
    div.container.adjust-container {
        padding-left: 0;
        padding-right: 0;
    }
}


.review-title {
    color: var(--white);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
    padding-bottom: 40px;
}

@media only screen and (min-width: 768px) {
    .review-title {
        font-size: 48px;
        line-height: 1.13;
        letter-spacing: -0.04em;
    }
}

@media only screen and (min-width: 1280px) {
    .review-title {
        /* margin-left: 32px; */
    }
}

.review-card-container {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    padding: 20px;
    position: relative;
}

@media only screen and (min-width: 768px) {
    .review-card-container {
        /* margin: 0 32px; */
    }
}

@media only screen and (min-width: 1280px) {
    .review-card-container {
        margin: 0;
        height: 216px;
    }
}

.review-student-img {
    border-radius: 100px;
    background: var(--black);
}

.review-student-info {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 4px;
}

@media only screen and (min-width: 768px) {
    .review-student-info {
        margin-bottom: 23px;
    }
}

.container-desc {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.review-student-name {
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

@media only screen and (min-width: 768px) {
    .review-student-name {
        line-height: 1.4;
    }
}

.review-student-desc {
    color: rgba(255, 255, 255, 0.50);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
    .review-student-desc {
        font-size: 14px;
        line-height: 1.28;
    }
}

.review-rate-stars-list {
    display: flex;
    gap: 4px;
    margin-left: 64px;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .review-rate-stars-list {
        position: absolute;
        top: 18px;
        right: 18px;
    }
}

.review-rate-stars-list-1280 {}

@media only screen and (min-width: 1280px) {
    .review-rate-stars-list-1280 {
        position: absolute;
        top: 18px;
        right: 18px;
        /* margin-left: auto; */
    }
}

.review-rate-stars-list-item {
    height: 16px;
}

.review-rate-icon {
    fill: var(--brown);
}

@media only screen and (min-width: 768px) {
    .review-rate-icon {
        width: 20px;
        height: 20px;
    }
}

.review-dark-rate-icon {
    fill: var(--black-star);
}

.review-main-opinion {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
    .review-main-opinion {
        font-size: 16px;
        line-height: 1.25;
    }
}

.review-card-container-list {
    display: flex;
    gap: 20px;
}

@media only screen and (min-width: 768px) {
    .review-card-container-list {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.review-card-container-list-abraham {}

@media only screen and (min-width: 1280px) {
    .review-card-container-list-abraham {
        /* margin-left: 27px; */
    }
}

.review-card-container-list-amanda {}

@media only screen and (max-width: 1279.98px) {
    .review-card-container-list-amanda {
        display: none;
    }
}

@media only screen and (min-width: 1280px) {
    .review-card-container-list-amanda {
        /* margin-right: 27px; */

    }
}