:root {
  --black: #121212;
  --gray: #1d1d1d;
  --black-gradient: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  --brown: #bea69e;
  --white: #fff;
  --black-star: #414141;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-family: 'DM Sans', sans-serif;
  color: #FFFFFF;
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
